.container-fluid {
  height: 100%;
}
footer {
  //   position: relative;
  padding: 10px 10px 0px 10px;
  clear: both;
  position: relative;
  //   height: 100px;
  margin-bottom: 300px;
  margin-bottom: -300px;

  width: 100%;
  /* Height of the footer*/
  //   height: 40px;
  background: grey;
}
#care {
  width: 13rem;
}
