<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="../../assets/images/logo small.png" class="img-fluid img logo" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav mx-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/lab-technician">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-bold">Features</a>
                </li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ loggedUser |uppercase }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar  -->
<div class="colorbar" style="
      height: 1rem;
      background: linear-gradient(to right, #c9e265, #38b6ff);
      border-radius: 1.5rem;">
</div>
<div class="container-lg" *ngFor="let test of labtestService.testreps" style="border: 1px solid black;  border-radius:20px; margin-top: 50px; padding-bottom: 10px;"><br>
<a href="/lab-technician" class="btn btn-outline-dark">Back</a>
<h3 style="text-align: center; ">Lab Test  </h3>
<h5>Test Report No:{{test.TestReportId}}</h5>
<h6> Patient Name:{{test.PatientName}}</h6>
<h6> Mobile No:{{test.Mobile}}</h6>
<h6>Sex:{{test.Sex}}</h6>
<h6>Appointment Date:{{test.AppointmentDate|date:'dd-MMM-yyyy'}}</h6>
<h4 style="text-align: center;">Tests</h4>
<table class="table table-striped table-bodered">
    <thead style="background-color: rgb(158, 204, 85);">
     <th>Test Name</th>
     <th>Unit</th>
     <th>Test Value</th>
     <th>Current Value</th>
     <th>Min Range</th>
     <th>Max Range</th>
     <th>Price</th>
     <th>Action</th>
    </thead> 
    <tbody>
        <tr *ngFor="let item of test.TestDetails; let i=index ">
            <td style="display: none;">{{item.TestId}}</td>
            <td>{{item.TestName}}</td>
            <td>{{item.Unit}}</td>
            <td><input type="number"  value="{{item.TestValue}}" id="{item.TestValue}" name="Testvalue" #Testvalue min="0"  > </td> <!-- #Testvalue="ngModel" [ngModel]="newObject[value]-->
            <td>{{item.TestValue}}</td>
            <td>{{item.MinRange}}</td>
            <td>{{item.MaxRange}}</td>
            <td>{{item.Price}}</td>
            <td><button class="btn-sm btn-secondary" (click)="Submit(Testvalue.value,item.TestId)">Add </button></td>    
        </tr>
   </tbody>   
</table>
<!--<ng-template #else1>-->
<span style="display:flex; justify-content:center"   >  <button  class="btn btn-warning"  (click)="GenBill()" id="btn" >Generate Bill </button></span>
<!--</ng-template>-->
</div>

