// .logo {
//   width: 9rem;
// }
// li {
//   padding: 0.9rem;
// }
.button2 {
    color: white;
    background-color: #109cf1;
    border: 5px solid transparent;
    transition: 0.2s ease;
    border-radius: 50px;
    padding: 15px 20px;
    font: 13px montserrat;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 1em;
    cursor: pointer;
  }
  