
<div class="container-xl">
    <div class="header">
        <div class="form-control">
            <!-- Search -->
            <input class="form-control" type="text" placeholder="Search Appointment using Name,Phone Number">
            <br>
            <pagination-controls (pageChange)="page= $event"></pagination-controls>
            <div class="">
                <li
                  class="text-dark"
                  type=""
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  style="list-style: none; cursor: pointer"
                >
                  <p style="display: flex; align-items: center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      fill="currentColor"
                      class="bi bi-filter-square m-2"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                      />
                      <path
                        d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                      />
                    </svg>
                    Filter Appointments
                  </p>
                </li>
              </div>
          
              <div class="collapse" id="collapseExample">
                <div class="" style="display: flex; flex-direction: row">
                  <input
                    class="form-control shadow-sm"
                    type="date"
                    style="border-radius: 0.3rem; border-bottom: 2px solid #109cf1"
                    #date
                  />
                  <button
                    class="btn btn-light mx-2 text-white shadow-sm"
                    style="max-width: 10rem; background-color: #109cf1"
                    (click)="getApppointments(date.value)"
                  >
                    Get Appointments
                  </button>
                </div>
              </div>
            <br><table class="table table-bordered table-stripped">
                <thead style="background-color: #0183ce; color:azure;">
                    <tr>
                        <th>ID</th>
                        <th>Token</th>
                        <th>Patient Name</th>
                        <th>Phone no</th>
                        <th>Doctor</th>
                        <th>Receptionist</th>                  
                        <th>Appointment Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                   <tr  *ngFor="let app of receptionservice.appointments|paginate:{itemsPerPage:5,currentPage:page} let i=index">
                        <td>{{app.AppointmentId}}</td>
                        <td>{{app.TokenNo}}</td>
                        <td>{{app.PatientName}}</td>
                        <td>{{app.PhoneNumber}} </td>
                        <td>{{app.DoctorName}}</td>
                        <td>{{app.Receptionistname}}</td>
                        <td>{{app.AppointmentDate | date:'dd-MMM-yyyy hh:mm aa'}}</td> 
                        <div *ngIf="(app.AppointmentDate|date:'yMMdd')==(TodayDate|date:'yMMdd') && i==0 &&page==1 else else2">
                       <td  ><button class="btn btn-sm btn-primary" (click)="SendToDoctor(app.AppointmentId,app.PatientName,app.DoctorName)"> Send</button> &nbsp;&nbsp; <button class="btn btn-sm btn-outline-danger" (click)="DeleteAppointment(app.AppointmentId)">X</button>  <!--(click)="updateEmployee(emp.EmployeeID)"-->
                        </td>
                        </div>
                        <ng-template #else2> <td> <img src="assets/images/x.png" width="35" height="35"> </td> </ng-template>
                    </tr>
                </tbody>
            </table>
            <br>