img {
  max-width: 40rem;
  max-height: 30rem;
  min-width: 20rem;
  min-height: 7.5rem;
}
.conatiner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.login-form {
  justify-content: center;
  min-width: 20rem;
  max-width: 35rem;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button2 {
  color: white;
  background-color: #109cf1;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 50px;
  padding: 15px 20px;
  font: 13px montserrat;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}
input {
  border: 0px;
  border-radius: 0.5rem;
  padding: 1rem;
  border-bottom: 3px solid #109cf1;
  font-size: 1.2rem;
}
