
<div class="container">
    <div class="header">
        <div class="form-control">
            <!-- Search -->
            <input class="form-control" type="text" placeholder="Search Consultation using Name,Phone Number"[(ngModel)]="filter">
            <br>
            <!--<a [routerLink]=" " class="btn btn-outline-secondary" style="float: right; margin-bottom:19px;">Test Report</a>-->
           <div class="col">
            <button printTitle="Clinic Management System" printSectionId="pdfprint" class="btn btn-primary" ngxPrint>
                Print
              </button>
               <div class="row"  *ngFor="let con of receptionservice.consultationbills|filter:filter|paginate:{itemsPerPage:1,currentPage:page}" id="pdfprint">
                <h3 style="text-align: center;">Consultation Bill</h3>
                <span style="display:flex;justify-content: space-between;">
                <h6>ConsultationBill Id: {{con.ConsultationBillId}}</h6><br>
             <h6>Date of Bill:{{con.DateOfBill|date:'dd-MMM-yyyy hh:mm aa'}}</h6>
             </span>
             <span style="display:flex;justify-content: space-between;">
                <h6>Patient Name : {{con.PatientName}}</h6>
            <h6>Doctor:{{con.DoctorName}}</h6> 
            </span>
            <span style="display:flex;justify-content: space-between;">
                <h6>Date of Birth:{{con.DateOfBirth| date:'dd-MMM-yyyy'}}</h6>
                <h6>Receptionist: {{con.ReceptionistName}}</h6>
               </span>
               <span style="display:flex;justify-content: space-between;">
             <h6>Phone No: {{con.Phone}}</h6>
            <h6>Address :{{con.Address}}</h6>
             </span>
             <span style="display:flex;justify-content: space-between;">
             <h6>Blood Group: {{con.BloodGroup}}</h6>
             <h6>Appointment Date: {{con.AppointmentDate | date:'dd-MMM-yyyy hh:mm aa'}}</h6>
             </span>
             <h5 style="text-align:center; font-family:Arial">Consultation Bill: Rs .{{con.ConsultationAmount}}</h5>
               </div>
           </div>
        </div>
            <br>
            <footer>
               <pagination-controls (pageChange)="page= $event"></pagination-controls>
            </footer>


