// .links {
//   color: beige;
//   text-decoration: none;
//   text-shadow: 2px 1px rgb(36, 36, 36);
// }

// .parent {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
// .responsive-iframe {
//   width: 100%;
//   height: 500px;
// }
// .cont {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
//   padding-top: 56.25%;
// }

.logo {
  width: 13rem;
}
li {
  padding: 0.9rem;
}
.notes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 1;
}
.addnote {
  // width: 50%;
  display: flex;
  flex-direction: column;
}
.container-fluid {
  // border-top: 3px solid black;
}
#testId,
#qtyId,
#medicineId {
  border-bottom: 3px solid #38b6ff;
}
#testId,
#testId::after,
#testId::before {
  box-sizing: border-box;
}
textarea,
select,
input {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: 1px solid rgba(228, 226, 226, 0.694);
  border-radius: 0.8rem;

  // padding: 0 0 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  border-bottom: 2px solid #38b6ff;
  min-height: 3rem;
  padding-left: 1.5rem;
  font-size: 1.3rem;
  // margin-left: 1rem;
  // margin-right: 1rem;
}
p {
  font-size: 1.2rem;
}
.hide {
  display: none;
}
.noteCard {
  border-left: 2px solid #38b6ff;
  // border-right: 2px solid #38b6ff;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #e2e2e2, -8px -8px 16px #fafafa;
}
.bi-trash:hover {
  color: red;
}
.button1 {
  color: white;
  background-color: #109cf1;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 50px;
  padding: 15px 20px;
  font: 13px montserrat;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}

.button1:hover {
  color: #109cf1;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid #109cf1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.button2 {
  color: white;
  background-color: #109cf1;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 50px;
  padding: 15px 20px;
  font: 13px montserrat;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}

.button2:hover {
  color: #109cf1;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid #109cf1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.button3 {
  color: white;
  background-color: #da1b5a;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 50px;
  padding: 15px 20px;
  font: 13px montserrat;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}

.button3:hover {
  color: #da1b5a;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid #da1b5a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
